[Desktop Entry]
Version=1.0
Type=Application
Name=Shaper Stereo
GenericName=Shaper
Comment=This plugin performs some additional wave shaping of the stereo signal
Exec=lsp-plugins-shaper-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
