[Desktop Entry]
Version=1.0
Type=Application
Name=Shaper Mono
GenericName=Shaper
Comment=This plugin performs some additional wave shaping of the mono signal
Exec=lsp-plugins-shaper-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
